@* this is the partial view of the book card  *@


@model Books

<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image" style="width:100%" >
    <div class="card-body">
      <h4 class="card-title">@Model.Name</h4>
      <p class="card-text">@Model.Id</p>
      <p class="card-text">@Model.Author</p>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>

      <a href="/Library/getallbooks" class="btn btn-primary">Back To List</a>
    </div>
  </div>